{% extends 'findyourpalapp/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    {% block body %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}

      </div>
      {% endfor %}
    {% endif %}
    <div class="container">

      <div class="shadow p-4 mb-5 bg-body rounded">
      <h1>Sign In</h1>
      <form method="post">
        {% csrf_token %}
        <h5>Username: </h5>{{ form.username }}
        <br><br>
        <h5>Password: </h5>{{ form.password }}
        <p></p>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
      <p>Click <a href="{% url 'findyourpalapp:register' %}">here</a> if you are new user</p>

      </div>
    </div>
    {% endblock %}
  </body>
</html>
