{% extends 'home/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find Your Pal</title>
  </head>
  <body>
    {% block body %}
    <div class="container">
      <h1>Find Your Wander Pal Now!</h1>
      <h6>Share your travel plan and tell us more about yourself</h6>
      <h6>We will find you a Wander Pal based on your profile and preference</h6>
      <p>Don't worry, we will only share your name, contact method, social media, and your images after both party agree </p>
      <p>Ready to Find your pal? Click <a href="{% url 'findyourpalapp:fyp_login' %}">here</a> if you already have account</p>
      <p>Click <a href="{% url 'findyourpalapp:register' %}">here</a> if you are new user</p>
    </div>

    {% endblock %}
  </body>
</html>
