{% extends 'findyourpalapp/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stories</title>
  </head>
  <body>

    {% block body %}
    <div class="container">

      <h1>Read Other Travellers' Stories Here!</h1>
      {% if user.is_authenticated %}
      <h3>You can also contribute your story here</h3>
      <a class='btn btn-secondary' href="{% url 'home:add_story'%}">Submit your story here</a>

      {% else %}
      <h5>Excited to share your story too, please join Wanderpal from<a href="{% url 'findyourpalapp:register' %}"> here</a></h5>


      {% endif %}
      {% for story in story_list %}
      <div class="row">
          <h5>{{ story.story_title }} by {{ story.nickname }} </h5>
        </div>
      <div class="row">
        <div class="col-md-3 ">
          <img src="{{ story.story_image.url }}" width = "200px" alt="Image not found" align='right'>
        </div>
          {{ story.story_desc }}
        <p></p>
      </div>

      {% endfor %}
    </div>

    {% endblock %}
  </body>
</html>
