{% extends 'findyourpalapp/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="text/css">
    <meta charset="utf-8">
    <title>Stories</title>
  </head>
  <body>

    {% block body %}
    <div class="container">

      <h1>Read other traveller's stories here</h1>
      {% if user.is_authenticated %}
      <a class='btn btn-secondary' href="{% url 'home:add_story'%}">Submit your travel highlight here</a>

      {% else %}
      <p>Excited to share your story too, please join Wanderpal from <a href="{% url 'findyourpalapp:register' %}">here</a>
        <br>
      If you already have an account, please login from <a href="{% url 'findyourpalapp:login' %}">here</a></p>


      {% endif %}
      {% for story in story_list %}
      <div class="row">
          <h5>{{ story.story_title }} by {{ story.owner }}</h5>
        </div>
      <div class="row">
        <div class="col-md-3 ">
          <img src="{{ story.story_image.url }}" width = "400px" alt="Image not found">
        </div>
          {{ story.story_desc }}
        <p></p>
      </div>

      {% endfor %}
    </div>

    {% endblock %}
  </body>
</html>
