{% extends 'contactus_aboutus/base.html' %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    {% block body %}
    <div class="container">
      <h1>About Us</h1>
      <p>Our founder is a software engineer who loves travelling and connect with
        people from different culture and background. Her dream is to work remotely
        anywhere wherever and whenever she wants while exploring the world.</p>

      <h1>Our Team</h1>
      <h4>Founder/CEO/Tech Lead - San Chua</h4>
      <img src="{}" alt="">


    </div>

    {% endblock %}
  </body>
</html>
